<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pronounce">
      <h2 data-cy="pronounceDetailsHeading"><span>Pronounce</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ pronounce.id }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ pronounce.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ pronounce.lastName }}</span>
        </dd>
        <dt><span>Preferred Name</span></dt>
        <dd>
          <span>{{ pronounce.preferredName }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ pronounce.country }}</span>
        </dd>
        <dt><span>Language</span></dt>
        <dd>
          <span>{{ pronounce.language }}</span>
        </dd>
        <dt><span>Pronunciation</span></dt>
        <dd>
          <div *ngIf="pronounce.pronunciation">
            <a (click)="openFile(pronounce.pronunciation, pronounce.pronunciationContentType)">open</a>
            {{ pronounce.pronunciationContentType }}, {{ byteSize(pronounce.pronunciation) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/pronounce', pronounce.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
